flows.json
[
    {
        "id": "346708fa448df3d4",
        "type": "subflow",
        "name": "PARAMETROS",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "0f208c0fe9b710c1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 120,
                "wires": [
                    {
                        "id": "0f208c0fe9b710c1",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 160,
                "wires": [
                    {
                        "id": "0f208c0fe9b710c1",
                        "port": 1
                    }
                ]
            },
            {
                "x": 590,
                "y": 200,
                "wires": [
                    {
                        "id": "0f208c0fe9b710c1",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "PARAMETRO",
            "DESCRIPCION",
            "UNIDADES"
        ]
    },
    {
        "id": "0f208c0fe9b710c1",
        "type": "function",
        "z": "346708fa448df3d4",
        "name": "function 12",
        "func": "var parametro={payload: msg.payload.parametro};\nvar descripcion={payload:msg.payload.descripcionparametro};\nvar tag={payload:msg.payload.unidad};\nreturn [parametro,descripcion,tag];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7ae1632d769de4b2",
        "type": "subflow",
        "name": "EXTRACCION DATOS ESTACION",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ce1707cc9305f175"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 140,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 0
                    }
                ]
            },
            {
                "x": 570,
                "y": 180,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 1
                    }
                ]
            },
            {
                "x": 570,
                "y": 220,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 2
                    }
                ]
            },
            {
                "x": 570,
                "y": 260,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 3
                    }
                ]
            },
            {
                "x": 580,
                "y": 300,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 4
                    }
                ]
            },
            {
                "x": 590,
                "y": 340,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 5
                    }
                ]
            },
            {
                "x": 570,
                "y": 380,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 6
                    }
                ]
            },
            {
                "x": 560,
                "y": 420,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 7
                    }
                ]
            },
            {
                "x": 560,
                "y": 460,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 8
                    }
                ]
            },
            {
                "x": 570,
                "y": 500,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 9
                    }
                ]
            },
            {
                "x": 560,
                "y": 540,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 10
                    }
                ]
            },
            {
                "x": 560,
                "y": 580,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 11
                    }
                ]
            },
            {
                "x": 570,
                "y": 620,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 12
                    }
                ]
            },
            {
                "x": 560,
                "y": 660,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 13
                    }
                ]
            },
            {
                "x": 570,
                "y": 700,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 14
                    }
                ]
            },
            {
                "x": 560,
                "y": 740,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 15
                    }
                ]
            },
            {
                "x": 560,
                "y": 780,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 16
                    }
                ]
            },
            {
                "x": 570,
                "y": 820,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 17
                    }
                ]
            },
            {
                "x": 570,
                "y": 860,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 18
                    }
                ]
            },
            {
                "x": 570,
                "y": 900,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 19
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Group",
                "type": "json",
                "value": "estacion1"
            }
        ],
        "meta": {
            "module": "Estacion"
        },
        "color": "#DDAA99",
        "outputLabels": [
            "Estacion ",
            "NAME",
            "LAT",
            "LNG",
            "FECHA",
            "PERIODO",
            "SO2",
            "NO",
            "CO",
            "PM10",
            "O3",
            "DD",
            "TMP",
            "HR",
            "PRB",
            "RS",
            "LL",
            "BEN",
            "MXIL",
            "PM25"
        ]
    },
    {
        "id": "ce1707cc9305f175",
        "type": "function",
        "z": "7ae1632d769de4b2",
        "name": "function 11",
        "func": "\nvar estacion = { payload: msg.payload.estacion};\nvar name = { payload: msg.payload.título };\nvar latitud = { payload: msg.payload.latitud };\nvar longitud = { payload: msg.payload.longitud };\nvar fecha = { payload: msg.payload.fecha };\nvar periodo = { payload: msg.payload.periodo };\nvar so2 = { payload: msg.payload.so2 };\nvar no = { payload: msg.payload.no };\nvar co = { payload: msg.payload.co };\nvar pm10 = { payload: msg.payload.pm10 };\nvar o3 = { payload: msg.payload.o3 };\nvar dd = { payload: msg.payload.dd };\nvar tmp = { payload: msg.payload.tmp };\nvar hr = { payload: msg.payload.hr };\nvar prb = { payload: msg.payload.prb };\nvar rs = { payload: msg.payload.rs };\nvar ll = { payload: msg.payload.ll };\nvar ben = { payload: msg.payload.ben };\nvar mxil = { payload: msg.payload.mxil };\nvar pm25 = { payload: msg.payload.pm25 };\n\nreturn [estacion, name, latitud, longitud, fecha, periodo, so2, no, co, pm10, o3, dd, tmp, hr, prb, rs, ll, ben, mxil, pm25];\n",
        "outputs": 20,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 560,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "992579733deef552",
        "type": "tab",
        "label": "OPENDATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27a0f42b5200e41e",
        "type": "inject",
        "z": "992579733deef552",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5340",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "0fa0f348a9b973c5",
                "afa68fa4a608be52",
                "c3ba4ab8e81e9b9f",
                "5937fd2a64dab858"
            ]
        ]
    },
    {
        "id": "0fa0f348a9b973c5",
        "type": "http request",
        "z": "992579733deef552",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://opendata.gijon.es/descargar.php?id=1&tipo=JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "7b3203f17e2d5401"
            ]
        ]
    },
    {
        "id": "8babfb0ae43cefb8",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "7b3203f17e2d5401",
        "type": "json",
        "z": "992579733deef552",
        "name": "VALORES",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "8babfb0ae43cefb8",
                "5cd88482c9984547"
            ]
        ]
    },
    {
        "id": "afa68fa4a608be52",
        "type": "http request",
        "z": "992579733deef552",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://opendata.gijon.es/descargar.php?id=5&tipo=JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "f83336db998b580c"
            ]
        ]
    },
    {
        "id": "f83336db998b580c",
        "type": "json",
        "z": "992579733deef552",
        "name": "PARAMETROS",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "b50efabe5a5593cf",
                "1b74c5660d6947f7"
            ]
        ]
    },
    {
        "id": "b50efabe5a5593cf",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "214fda4173f5966a",
        "type": "function",
        "z": "992579733deef552",
        "name": "function 1",
        "func": "var Item={payload:msg.payload.estaciones};\n\nreturn [Item];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "0b3647cf902445f5"
            ]
        ]
    },
    {
        "id": "c3ba4ab8e81e9b9f",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "5937fd2a64dab858",
        "type": "http request",
        "z": "992579733deef552",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://opendata.gijon.es/descargar.php?id=4&tipo=JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "0e90dc1e493db702"
            ]
        ]
    },
    {
        "id": "0e90dc1e493db702",
        "type": "json",
        "z": "992579733deef552",
        "name": "ESTACIONES",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "ccf3a52f6a1d9e95",
                "214fda4173f5966a"
            ]
        ]
    },
    {
        "id": "ccf3a52f6a1d9e95",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "2a1e570f014a3a29",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 0",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "5e9b35033091f710",
        "type": "function",
        "z": "992579733deef552",
        "name": "ESTACIONES",
        "func": "var ID0={payload:msg.payload.estacion[0]};\nvar ID1 = { payload: msg.payload.estacion[1] };\nvar ID2 = { payload: msg.payload.estacion[2] };\nvar ID3 = { payload: msg.payload.estacion[3] };\nvar ID4 = { payload: msg.payload.estacion[4] };\nvar ID5 = { payload: msg.payload.estacion[5] };\nvar ID6 = { payload: msg.payload.estacion[6] };\nvar ID7 = { payload: msg.payload.estacion[7] };\n\nreturn [ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 620,
        "wires": [
            [
                "2a1e570f014a3a29"
            ],
            [
                "4855287b7d96150e"
            ],
            [
                "180edaada3a88a6b"
            ],
            [
                "ea62f1b851cc304a"
            ],
            [
                "abf3e0728311e930"
            ],
            [
                "83a7228baa341cd0"
            ],
            [
                "df86cc9a8a736ee1"
            ],
            [
                "0cf4ab6bcccc069b"
            ]
        ]
    },
    {
        "id": "4855287b7d96150e",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "180edaada3a88a6b",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea62f1b851cc304a",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "abf3e0728311e930",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "83a7228baa341cd0",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 680,
        "wires": []
    },
    {
        "id": "df86cc9a8a736ee1",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Staton 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "0cf4ab6bcccc069b",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "1b74c5660d6947f7",
        "type": "function",
        "z": "992579733deef552",
        "name": "function 3",
        "func": "var param={payload:msg.payload.parametroestaciones};\nreturn [param];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "30ea1db908e97074"
            ]
        ]
    },
    {
        "id": "23d32feae4bd7c39",
        "type": "function",
        "z": "992579733deef552",
        "name": "PARAMETROS",
        "func": "var param_0={payload:msg.payload.parametroestacion[0]};\nvar param_1 = { payload: msg.payload.parametroestacion[1] };\n//var param1 = {payload: msg.payload.parametroestacion};\nvar param_2 = { payload: msg.payload.parametroestacion[2] };\nvar param_3 = { payload: msg.payload.parametroestacion[3] };\nvar param_4 = { payload: msg.payload.parametroestacion[4] };\nvar param_5 = { payload: msg.payload.parametroestacion[5] };\nvar param_6 = { payload: msg.payload.parametroestacion[6] };\nvar param_7 = { payload: msg.payload.parametroestacion[7] };\nvar param_8 = { payload: msg.payload.parametroestacion[8] };\nvar param_9 = { payload: msg.payload.parametroestacion[9] };\nvar param_10 = { payload: msg.payload.parametroestacion[10] };\nvar param_11 = { payload: msg.payload.parametroestacion[11] };\nvar param_12 = { payload: msg.payload.parametroestacion[12] };\nvar param_13 = { payload: msg.payload.parametroestacion[13] };\nvar param_14 = { payload: msg.payload.parametroestacion[14] };\nvar param_15 = { payload: msg.payload.parametroestacion[15] };\nvar param_16 = { payload: msg.payload.parametroestacion[16] };\nvar param_17 = { payload: msg.payload.parametroestacion[17] };\nvar param_18 = { payload: msg.payload.parametroestacion[18] };\nvar param_19 = { payload: msg.payload.parametroestacion[19] };\nvar param_20 = { payload: msg.payload.parametroestacion[20] };\n\n\n\nreturn [param_0,param_1,param_10,param_11,param_12,param_13,param_14,param_15,param_16,param_17,param_18,param_19,param_20,param_2,param_3,param_4,param_5,param_6,param_7,param_8,param_9];",
        "outputs": 20,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1920,
        "wires": [
            [
                "c4e80fd72226ff71"
            ],
            [
                "7c13828edfa21689"
            ],
            [
                "24a1540c9faa9a9b"
            ],
            [
                "413580a504f51438"
            ],
            [
                "a2ae3a5147eb659d"
            ],
            [
                "1b9044fa25694506"
            ],
            [
                "da17d0dfad386b68"
            ],
            [
                "abace3a2e3abe21c"
            ],
            [
                "3f144171362c246e"
            ],
            [
                "8a11d8a86750df53"
            ],
            [
                "6cbd357b73e14a09"
            ],
            [
                "de51115a826ef313"
            ],
            [
                "78dcb9241999f660"
            ],
            [
                "1341e8111da838b0"
            ],
            [
                "82c3bc4f042b426c"
            ],
            [
                "0159f114e9227443"
            ],
            [
                "760f8029fc22602f"
            ],
            [
                "60130de487e4d2cf"
            ],
            [
                "c4e5f7600aaecc23"
            ],
            [
                "4ca6310bc1de187b"
            ]
        ],
        "outputLabels": [
            "BEN",
            "C-BEN",
            "NO2",
            "O3",
            "PM10",
            "PM25",
            "PM25--1",
            "PRB",
            "RS",
            "SO2",
            "TMP",
            "TOL",
            "VV",
            "CO",
            "DD",
            "DD",
            "HR",
            "LL-PRECIPITACIONES",
            "METAPARAXILENO",
            "MXILENO"
        ]
    },
    {
        "id": "5cd88482c9984547",
        "type": "function",
        "z": "992579733deef552",
        "name": "function 5",
        "func": "var msg={payload:msg.payload.calidadairemediatemporales};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 80,
        "wires": [
            [
                "9d0a4182bd6d088d"
            ]
        ]
    },
    {
        "id": "9d0a4182bd6d088d",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d38e7cf9593d9437",
            "0d39cc8a75bab38d"
        ],
        "x": 995,
        "y": 80,
        "wires": []
    },
    {
        "id": "30ea1db908e97074",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a85b76903d56c458"
        ],
        "x": 935,
        "y": 320,
        "wires": []
    },
    {
        "id": "a85b76903d56c458",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 2",
        "links": [
            "30ea1db908e97074"
        ],
        "x": 95,
        "y": 1920,
        "wires": [
            [
                "23d32feae4bd7c39"
            ]
        ]
    },
    {
        "id": "0b3647cf902445f5",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "599a0dd3108dc083"
        ],
        "x": 935,
        "y": 380,
        "wires": []
    },
    {
        "id": "599a0dd3108dc083",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 3",
        "links": [
            "0b3647cf902445f5"
        ],
        "x": 145,
        "y": 620,
        "wires": [
            [
                "5e9b35033091f710"
            ]
        ]
    },
    {
        "id": "d38e7cf9593d9437",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 1",
        "links": [
            "9d0a4182bd6d088d"
        ],
        "x": 695,
        "y": 540,
        "wires": [
            [
                "60bf85994a05eb49"
            ]
        ]
    },
    {
        "id": "f420b738957fd299",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "4fbf83a9393f8fd1",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Estacion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1880,
        "y": 60,
        "wires": []
    },
    {
        "id": "f2694cb16a0276ab",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "4fbf83a9393f8fd1",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "LAT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 100,
        "wires": []
    },
    {
        "id": "d95fc9c10eb340a4",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "4fbf83a9393f8fd1",
        "order": 3,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "LNG",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 140,
        "wires": []
    },
    {
        "id": "19d1c40120e630f1",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "4fbf83a9393f8fd1",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "FECHA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1880,
        "y": 180,
        "wires": []
    },
    {
        "id": "a785a5cb5481507f",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 5,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "SO2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 260,
        "wires": []
    },
    {
        "id": "aba6456f316cad83",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 6,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "NO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 300,
        "wires": []
    },
    {
        "id": "7e3fcf8121f0b2a3",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 7,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 380,
        "wires": []
    },
    {
        "id": "263b091d51fa4a6b",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 8,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "O3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 420,
        "wires": []
    },
    {
        "id": "a6c90854d015af52",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 9,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "DD",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ffbc94b1620e968",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 10,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "TMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 500,
        "wires": []
    },
    {
        "id": "aa03324c7293ad70",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 11,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "HR",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 540,
        "wires": []
    },
    {
        "id": "b92fe81c77ea6bf8",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 12,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PRB",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 580,
        "wires": []
    },
    {
        "id": "1d9f05bc928401db",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 13,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "RS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 620,
        "wires": []
    },
    {
        "id": "935be5427f315195",
        "type": "ui_chart",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 15,
        "width": 0,
        "height": 0,
        "label": "RS",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1870,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a611cc4bfd3d4bda",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 14,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "LL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 700,
        "wires": []
    },
    {
        "id": "e236719bb83c8c41",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 16,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "BEN",
        "label": "{{msg.payload}}",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 740,
        "wires": []
    },
    {
        "id": "55d90d791d958b1e",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 17,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "MXIL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 780,
        "wires": []
    },
    {
        "id": "07f8d37916a923e5",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "4fbf83a9393f8fd1",
        "order": 18,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PM25",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 820,
        "wires": []
    },
    {
        "id": "60bf85994a05eb49",
        "type": "split",
        "z": "992579733deef552",
        "name": "",
        "splt": "[92,110]",
        "spltType": "bin",
        "arraySplt": "60",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 820,
        "y": 540,
        "wires": [
            [
                "50416d3c4c1c9682"
            ]
        ]
    },
    {
        "id": "50416d3c4c1c9682",
        "type": "function",
        "z": "992579733deef552",
        "name": "RT-Stations Value",
        "func": "var station = 168;\nvar msg_0 = { payload: msg.payload[0*station] };\nvar msg_1 = { payload: msg.payload[1 * station] };\nvar msg_2 = { payload: msg.payload[2 * station] };\nvar msg_3 = { payload: msg.payload[3 * station] };\nvar msg_4 = { payload: msg.payload[4 * station] };\nvar msg_5 = { payload: msg.payload[5 * station] };\nvar msg_6 = { payload: msg.payload[6 * station] };\nvar msg_7 = { payload: msg.payload[7 * station] };\n\nreturn [msg_0,msg_1,msg_2,msg_3,msg_4,msg_5,msg_6,msg_7];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "e3b942e1532829ec"
            ],
            [
                "1c8bac4d1e44f6fc"
            ],
            [
                "d13939374afc2a8f"
            ],
            [
                "93e3e0f6caae8a7a"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "53f8445a35992a68",
        "type": "subflow:7ae1632d769de4b2",
        "z": "992579733deef552",
        "name": "",
        "x": 1480,
        "y": 420,
        "wires": [
            [],
            [
                "f420b738957fd299"
            ],
            [
                "f2694cb16a0276ab"
            ],
            [
                "d95fc9c10eb340a4"
            ],
            [
                "19d1c40120e630f1"
            ],
            [
                "b0dfc4ab9c35c32e"
            ],
            [
                "a785a5cb5481507f"
            ],
            [
                "aba6456f316cad83"
            ],
            [
                "62100ed446a61873"
            ],
            [
                "7e3fcf8121f0b2a3"
            ],
            [
                "263b091d51fa4a6b"
            ],
            [
                "a6c90854d015af52"
            ],
            [
                "7ffbc94b1620e968"
            ],
            [
                "aa03324c7293ad70"
            ],
            [
                "b92fe81c77ea6bf8"
            ],
            [
                "1d9f05bc928401db",
                "935be5427f315195"
            ],
            [
                "a611cc4bfd3d4bda"
            ],
            [
                "e236719bb83c8c41"
            ],
            [
                "55d90d791d958b1e"
            ],
            [
                "07f8d37916a923e5"
            ]
        ]
    },
    {
        "id": "b0dfc4ab9c35c32e",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 220,
        "wires": []
    },
    {
        "id": "62100ed446a61873",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 340,
        "wires": []
    },
    {
        "id": "26ae1ae04f114a64",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 1,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Estacion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1880,
        "y": 860,
        "wires": []
    },
    {
        "id": "7cb62a598ccae4f0",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "LAT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 900,
        "wires": []
    },
    {
        "id": "de0c1ba52485eaa6",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "LNG",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 940,
        "wires": []
    },
    {
        "id": "db81770dcbd968be",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 4,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "FECHA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1880,
        "y": 980,
        "wires": []
    },
    {
        "id": "167b0cf1cacfd50e",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 5,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "SO2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d135e05bc8455d92",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 6,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "NO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1100,
        "wires": []
    },
    {
        "id": "33fa9fdfd29ad7fb",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 7,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8bf3bfc0e9b5281a",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 8,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "O3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1220,
        "wires": []
    },
    {
        "id": "bee82afe5d7d885d",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 9,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "DD",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "634053982a479e90",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 10,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "TMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6b3207ca25577154",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 11,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "HR",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1340,
        "wires": []
    },
    {
        "id": "630a165de38bc6d3",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 12,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "PRB",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1380,
        "wires": []
    },
    {
        "id": "dfb91f8d002bd6fc",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 13,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "RS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1420,
        "wires": []
    },
    {
        "id": "345b590de7e1a334",
        "type": "ui_chart",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "RS",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1870,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "a68c615d996dd4d6",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 15,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "LL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1500,
        "wires": []
    },
    {
        "id": "72f7c49fee4a8533",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 16,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "BEN",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1540,
        "wires": []
    },
    {
        "id": "918a9448d43b6f0c",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 17,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "MXIL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1580,
        "wires": []
    },
    {
        "id": "c2e785dc159ed3e7",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 18,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "PM25",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1870,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3c49ae1eeadb5a0a",
        "type": "subflow:7ae1632d769de4b2",
        "z": "992579733deef552",
        "name": "",
        "x": 1480,
        "y": 1220,
        "wires": [
            [],
            [
                "26ae1ae04f114a64"
            ],
            [
                "7cb62a598ccae4f0"
            ],
            [
                "de0c1ba52485eaa6"
            ],
            [
                "db81770dcbd968be"
            ],
            [
                "37ceb069ec498491"
            ],
            [
                "167b0cf1cacfd50e"
            ],
            [
                "d135e05bc8455d92"
            ],
            [
                "f435aec89bd2656a"
            ],
            [
                "33fa9fdfd29ad7fb"
            ],
            [
                "8bf3bfc0e9b5281a"
            ],
            [
                "bee82afe5d7d885d"
            ],
            [
                "634053982a479e90"
            ],
            [
                "6b3207ca25577154"
            ],
            [
                "630a165de38bc6d3"
            ],
            [
                "dfb91f8d002bd6fc",
                "345b590de7e1a334"
            ],
            [
                "a68c615d996dd4d6"
            ],
            [
                "72f7c49fee4a8533"
            ],
            [
                "918a9448d43b6f0c"
            ],
            [
                "c2e785dc159ed3e7"
            ]
        ]
    },
    {
        "id": "37ceb069ec498491",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f435aec89bd2656a",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 1140,
        "wires": []
    },
    {
        "id": "22fc6201cefe335c",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 4",
        "links": [
            "e3b942e1532829ec"
        ],
        "x": 1265,
        "y": 420,
        "wires": [
            [
                "53f8445a35992a68"
            ]
        ]
    },
    {
        "id": "e3b942e1532829ec",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "22fc6201cefe335c"
        ],
        "x": 1205,
        "y": 440,
        "wires": []
    },
    {
        "id": "1c8bac4d1e44f6fc",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "2d2ddeef9066d8e4"
        ],
        "x": 1205,
        "y": 480,
        "wires": []
    },
    {
        "id": "2d2ddeef9066d8e4",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 5",
        "links": [
            "1c8bac4d1e44f6fc"
        ],
        "x": 1285,
        "y": 1220,
        "wires": [
            [
                "3c49ae1eeadb5a0a"
            ]
        ]
    },
    {
        "id": "f3b5d53de0654385",
        "type": "subflow:7ae1632d769de4b2",
        "z": "992579733deef552",
        "name": "",
        "x": 2440,
        "y": 420,
        "wires": [
            [],
            [
                "0691454804266ba1"
            ],
            [
                "2db8ce0818767437"
            ],
            [
                "68c4594a4736763c"
            ],
            [
                "713ac63cb96f5a16"
            ],
            [
                "dc89c5b9a70981df"
            ],
            [
                "07a6a5c95f36724f"
            ],
            [
                "bf7c415a586ae05d"
            ],
            [
                "70be430dac622bfe"
            ],
            [
                "1c1ec662b35a9ebf"
            ],
            [
                "3600519a5e8e41ee"
            ],
            [
                "6f6412732c58dab1"
            ],
            [
                "be561d9e489d1b97"
            ],
            [
                "dbc81856847e7c91"
            ],
            [
                "67cd78b70d1a2eab"
            ],
            [],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "Estacion",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
        ]
    },
    {
        "id": "d13939374afc2a8f",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "882b66e7e9632209"
        ],
        "x": 1205,
        "y": 520,
        "wires": []
    },
    {
        "id": "882b66e7e9632209",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 6",
        "links": [
            "d13939374afc2a8f"
        ],
        "x": 2225,
        "y": 420,
        "wires": [
            [
                "f3b5d53de0654385"
            ]
        ]
    },
    {
        "id": "0691454804266ba1",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 24,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estacion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2880,
        "y": 60,
        "wires": []
    },
    {
        "id": "2db8ce0818767437",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 25,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LAT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2870,
        "y": 100,
        "wires": []
    },
    {
        "id": "68c4594a4736763c",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 26,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LNG",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2870,
        "y": 140,
        "wires": []
    },
    {
        "id": "713ac63cb96f5a16",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 27,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FECHA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2880,
        "y": 180,
        "wires": []
    },
    {
        "id": "dc89c5b9a70981df",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2880,
        "y": 220,
        "wires": []
    },
    {
        "id": "07a6a5c95f36724f",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SO2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 260,
        "wires": []
    },
    {
        "id": "bf7c415a586ae05d",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "NO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 300,
        "wires": []
    },
    {
        "id": "70be430dac622bfe",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 340,
        "wires": []
    },
    {
        "id": "1c1ec662b35a9ebf",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 19,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 380,
        "wires": []
    },
    {
        "id": "3600519a5e8e41ee",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 20,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "O3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f6412732c58dab1",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 21,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DD",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 460,
        "wires": []
    },
    {
        "id": "be561d9e489d1b97",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 22,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 500,
        "wires": []
    },
    {
        "id": "dbc81856847e7c91",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 23,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HR",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 540,
        "wires": []
    },
    {
        "id": "67cd78b70d1a2eab",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 24,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PRB",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2870,
        "y": 580,
        "wires": []
    },
    {
        "id": "dc0f70a39f7a5aa7",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 1,
        "width": "3",
        "height": "3",
        "name": "10",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "a8008c4a919603ae",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 2,
        "width": "3",
        "height": "3",
        "name": "11",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "ac57452cfd3dbce6",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 3,
        "width": "3",
        "height": "3",
        "name": "13",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 940,
        "wires": []
    },
    {
        "id": "c4e80fd72226ff71",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 900,
        "wires": [
            [
                "dc0f70a39f7a5aa7"
            ],
            [
                "a8008c4a919603ae"
            ],
            [
                "ac57452cfd3dbce6"
            ]
        ]
    },
    {
        "id": "7c13828edfa21689",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1020,
        "wires": [
            [
                "5cb13902dba93a21"
            ],
            [
                "50c2c48e928092eb"
            ],
            [
                "d302b32d8c60f658"
            ]
        ]
    },
    {
        "id": "24a1540c9faa9a9b",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1140,
        "wires": [
            [
                "359eba34d3f7955c"
            ],
            [
                "50f9425f4adce275"
            ],
            [
                "02047c4652d4026a"
            ]
        ]
    },
    {
        "id": "5cb13902dba93a21",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 4,
        "width": "3",
        "height": "3",
        "name": "20",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 980,
        "wires": []
    },
    {
        "id": "50c2c48e928092eb",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 5,
        "width": "3",
        "height": "3",
        "name": "21",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d302b32d8c60f658",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 6,
        "width": "3",
        "height": "3",
        "name": "22",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1060,
        "wires": []
    },
    {
        "id": "359eba34d3f7955c",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 7,
        "width": "3",
        "height": "3",
        "name": "30",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1100,
        "wires": []
    },
    {
        "id": "50f9425f4adce275",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 8,
        "width": "3",
        "height": "3",
        "name": "31",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1140,
        "wires": []
    },
    {
        "id": "02047c4652d4026a",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 9,
        "width": "3",
        "height": "3",
        "name": "32",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ae4bac3769c30aff",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 10,
        "width": "3",
        "height": "3",
        "name": "40",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1220,
        "wires": []
    },
    {
        "id": "48f2fd916991e6f6",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 11,
        "width": "3",
        "height": "3",
        "name": "41",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1260,
        "wires": []
    },
    {
        "id": "da61410b37795f83",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 12,
        "width": "3",
        "height": "3",
        "name": "42",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1300,
        "wires": []
    },
    {
        "id": "413580a504f51438",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1260,
        "wires": [
            [
                "ae4bac3769c30aff"
            ],
            [
                "48f2fd916991e6f6"
            ],
            [
                "da61410b37795f83"
            ]
        ]
    },
    {
        "id": "b50a4cd059477317",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 13,
        "width": "3",
        "height": "3",
        "name": "50",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1340,
        "wires": []
    },
    {
        "id": "86df25b373cb8482",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 14,
        "width": "3",
        "height": "3",
        "name": "51",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1380,
        "wires": []
    },
    {
        "id": "b77c52ef54a1699d",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 15,
        "width": "3",
        "height": "3",
        "name": "52",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1420,
        "wires": []
    },
    {
        "id": "a2ae3a5147eb659d",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1380,
        "wires": [
            [
                "b50a4cd059477317"
            ],
            [
                "86df25b373cb8482"
            ],
            [
                "b77c52ef54a1699d"
            ]
        ]
    },
    {
        "id": "0fe14933d8775153",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 16,
        "width": "3",
        "height": "3",
        "name": "60",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c5098e6807db1f82",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 17,
        "width": "3",
        "height": "3",
        "name": "61",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1500,
        "wires": []
    },
    {
        "id": "1ec50919d74473bf",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 18,
        "width": "3",
        "height": "3",
        "name": "62",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1540,
        "wires": []
    },
    {
        "id": "1b9044fa25694506",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1500,
        "wires": [
            [
                "0fe14933d8775153"
            ],
            [
                "c5098e6807db1f82"
            ],
            [
                "1ec50919d74473bf"
            ]
        ]
    },
    {
        "id": "49d409aa7f7766e7",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 19,
        "width": "3",
        "height": "3",
        "name": "70",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1580,
        "wires": []
    },
    {
        "id": "d44464b046e5b474",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 20,
        "width": "3",
        "height": "3",
        "name": "71",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1620,
        "wires": []
    },
    {
        "id": "9dfc63ffdc463810",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 21,
        "width": "3",
        "height": "3",
        "name": "72",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1660,
        "wires": []
    },
    {
        "id": "da17d0dfad386b68",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1620,
        "wires": [
            [
                "49d409aa7f7766e7"
            ],
            [
                "d44464b046e5b474"
            ],
            [
                "9dfc63ffdc463810"
            ]
        ]
    },
    {
        "id": "7d2f9482d58c84fa",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 22,
        "width": "3",
        "height": "3",
        "name": "80",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1700,
        "wires": []
    },
    {
        "id": "cf81e9c11a642e54",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 23,
        "width": "3",
        "height": "3",
        "name": "81",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1740,
        "wires": []
    },
    {
        "id": "52096798598ad77d",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 24,
        "width": "3",
        "height": "3",
        "name": "82",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1780,
        "wires": []
    },
    {
        "id": "abace3a2e3abe21c",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1740,
        "wires": [
            [
                "7d2f9482d58c84fa"
            ],
            [
                "cf81e9c11a642e54"
            ],
            [
                "52096798598ad77d"
            ]
        ]
    },
    {
        "id": "55aecd27c417c6a8",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 25,
        "width": "3",
        "height": "3",
        "name": "90",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1820,
        "wires": []
    },
    {
        "id": "c2a469bf69bcaa13",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 26,
        "width": "3",
        "height": "3",
        "name": "91",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1860,
        "wires": []
    },
    {
        "id": "7bae14aec65838ed",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 27,
        "width": "3",
        "height": "3",
        "name": "92",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1900,
        "wires": []
    },
    {
        "id": "3f144171362c246e",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1860,
        "wires": [
            [
                "55aecd27c417c6a8"
            ],
            [
                "c2a469bf69bcaa13"
            ],
            [
                "7bae14aec65838ed"
            ]
        ]
    },
    {
        "id": "3bf04222923bb2b8",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 28,
        "width": "3",
        "height": "3",
        "name": "100",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 1940,
        "wires": []
    },
    {
        "id": "d7c2609df33907b8",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 29,
        "width": "3",
        "height": "3",
        "name": "101",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 1980,
        "wires": []
    },
    {
        "id": "3507e10310e61bb7",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 30,
        "width": "3",
        "height": "3",
        "name": "102",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2020,
        "wires": []
    },
    {
        "id": "8a11d8a86750df53",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 1980,
        "wires": [
            [
                "3bf04222923bb2b8"
            ],
            [
                "d7c2609df33907b8"
            ],
            [
                "3507e10310e61bb7"
            ]
        ]
    },
    {
        "id": "aced1b5f39ec1498",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 31,
        "width": "3",
        "height": "3",
        "name": "110",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2060,
        "wires": []
    },
    {
        "id": "52406fc1ad2a079b",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 32,
        "width": "3",
        "height": "3",
        "name": "111",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2100,
        "wires": []
    },
    {
        "id": "a5cab58e642684ed",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 33,
        "width": "3",
        "height": "3",
        "name": "112",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2140,
        "wires": []
    },
    {
        "id": "6cbd357b73e14a09",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2100,
        "wires": [
            [
                "aced1b5f39ec1498"
            ],
            [
                "52406fc1ad2a079b"
            ],
            [
                "a5cab58e642684ed"
            ]
        ]
    },
    {
        "id": "81f286ca33cfd04a",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 34,
        "width": "3",
        "height": "3",
        "name": "120",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2180,
        "wires": []
    },
    {
        "id": "11ae083eb5fc8c62",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 35,
        "width": "3",
        "height": "3",
        "name": "121",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2220,
        "wires": []
    },
    {
        "id": "8dc90305d1913474",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 36,
        "width": "3",
        "height": "3",
        "name": "122",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2260,
        "wires": []
    },
    {
        "id": "de51115a826ef313",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2220,
        "wires": [
            [
                "81f286ca33cfd04a"
            ],
            [
                "11ae083eb5fc8c62"
            ],
            [
                "8dc90305d1913474"
            ]
        ]
    },
    {
        "id": "79807bfb5d33c7db",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 37,
        "width": "3",
        "height": "3",
        "name": "130",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2300,
        "wires": []
    },
    {
        "id": "3866e6f832a94690",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 38,
        "width": "3",
        "height": "3",
        "name": "131",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2340,
        "wires": []
    },
    {
        "id": "238c50c20cc6657f",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 39,
        "width": "3",
        "height": "3",
        "name": "132",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2380,
        "wires": []
    },
    {
        "id": "78dcb9241999f660",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2340,
        "wires": [
            [
                "79807bfb5d33c7db"
            ],
            [
                "3866e6f832a94690"
            ],
            [
                "238c50c20cc6657f"
            ]
        ]
    },
    {
        "id": "bd388517f7494abf",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 40,
        "width": "3",
        "height": "3",
        "name": "140",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2420,
        "wires": []
    },
    {
        "id": "39eb1216e3f69e89",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 41,
        "width": "3",
        "height": "3",
        "name": "141",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2460,
        "wires": []
    },
    {
        "id": "9d73261dda37d312",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 42,
        "width": "3",
        "height": "3",
        "name": "142",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2500,
        "wires": []
    },
    {
        "id": "1341e8111da838b0",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2460,
        "wires": [
            [
                "bd388517f7494abf"
            ],
            [
                "39eb1216e3f69e89"
            ],
            [
                "9d73261dda37d312"
            ]
        ]
    },
    {
        "id": "3691d412729c4dde",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 43,
        "width": "3",
        "height": "3",
        "name": "150",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2540,
        "wires": []
    },
    {
        "id": "a06af96f14fe46a6",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 44,
        "width": "3",
        "height": "3",
        "name": "151",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2580,
        "wires": []
    },
    {
        "id": "48dfb21e0bf867e6",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 45,
        "width": "3",
        "height": "3",
        "name": "152",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2620,
        "wires": []
    },
    {
        "id": "82c3bc4f042b426c",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2580,
        "wires": [
            [
                "3691d412729c4dde"
            ],
            [
                "a06af96f14fe46a6"
            ],
            [
                "48dfb21e0bf867e6"
            ]
        ]
    },
    {
        "id": "3480feda593e6455",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 46,
        "width": "3",
        "height": "3",
        "name": "160",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2660,
        "wires": []
    },
    {
        "id": "1c7eba428d56d1e1",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 47,
        "width": "3",
        "height": "3",
        "name": "161",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2700,
        "wires": []
    },
    {
        "id": "1185ebd92cf154d5",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 48,
        "width": "3",
        "height": "3",
        "name": "162",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2740,
        "wires": []
    },
    {
        "id": "0159f114e9227443",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2700,
        "wires": [
            [
                "3480feda593e6455"
            ],
            [
                "1c7eba428d56d1e1"
            ],
            [
                "1185ebd92cf154d5"
            ]
        ]
    },
    {
        "id": "d0e245a892b5f47f",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 49,
        "width": "3",
        "height": "3",
        "name": "170",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2780,
        "wires": []
    },
    {
        "id": "a4ac1a3a40a6bb45",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 50,
        "width": "3",
        "height": "3",
        "name": "171",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2820,
        "wires": []
    },
    {
        "id": "dfdbf9fb5e660485",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 51,
        "width": "3",
        "height": "3",
        "name": "172",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2860,
        "wires": []
    },
    {
        "id": "760f8029fc22602f",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2820,
        "wires": [
            [
                "d0e245a892b5f47f"
            ],
            [
                "a4ac1a3a40a6bb45"
            ],
            [
                "dfdbf9fb5e660485"
            ]
        ]
    },
    {
        "id": "0786deb84b993e5d",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 52,
        "width": "3",
        "height": "3",
        "name": "180",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 2900,
        "wires": []
    },
    {
        "id": "f25073eec25b31b7",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 53,
        "width": "3",
        "height": "3",
        "name": "181",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2940,
        "wires": []
    },
    {
        "id": "1a7237b464e73cf4",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 54,
        "width": "3",
        "height": "3",
        "name": "182",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 2980,
        "wires": []
    },
    {
        "id": "60130de487e4d2cf",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 2940,
        "wires": [
            [
                "0786deb84b993e5d"
            ],
            [
                "f25073eec25b31b7"
            ],
            [
                "1a7237b464e73cf4"
            ]
        ]
    },
    {
        "id": "8210057e8ae7e527",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 55,
        "width": "3",
        "height": "3",
        "name": "190",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 3020,
        "wires": []
    },
    {
        "id": "332b59670c14c6bd",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 56,
        "width": "3",
        "height": "3",
        "name": "191",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 3060,
        "wires": []
    },
    {
        "id": "7341efa48fb42bf0",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 57,
        "width": "3",
        "height": "3",
        "name": "192",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 3100,
        "wires": []
    },
    {
        "id": "c4e5f7600aaecc23",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 3060,
        "wires": [
            [
                "8210057e8ae7e527"
            ],
            [
                "332b59670c14c6bd"
            ],
            [
                "7341efa48fb42bf0"
            ]
        ]
    },
    {
        "id": "54ce0640a0386167",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 58,
        "width": "3",
        "height": "3",
        "name": "200",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 3140,
        "wires": []
    },
    {
        "id": "be48da312ea2f2b9",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 59,
        "width": "3",
        "height": "3",
        "name": "201",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 3180,
        "wires": []
    },
    {
        "id": "88f18c98767042ab",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "a3b5cb287a2b81be",
        "order": 60,
        "width": "3",
        "height": "3",
        "name": "202",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 3220,
        "wires": []
    },
    {
        "id": "4ca6310bc1de187b",
        "type": "subflow:346708fa448df3d4",
        "z": "992579733deef552",
        "name": "",
        "x": 700,
        "y": 3180,
        "wires": [
            [
                "54ce0640a0386167"
            ],
            [
                "be48da312ea2f2b9"
            ],
            [
                "88f18c98767042ab"
            ]
        ]
    },
    {
        "id": "cf665a04e5a6fea0",
        "type": "subflow:7ae1632d769de4b2",
        "z": "992579733deef552",
        "name": "",
        "x": 2460,
        "y": 1220,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "93e3e0f6caae8a7a",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "c478b188e29f441f"
        ],
        "x": 1225,
        "y": 600,
        "wires": []
    },
    {
        "id": "c478b188e29f441f",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 7",
        "links": [
            "93e3e0f6caae8a7a"
        ],
        "x": 2245,
        "y": 1220,
        "wires": [
            [
                "cf665a04e5a6fea0"
            ]
        ]
    },
    {
        "id": "aee296a1c28e4fbb",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "aefb9377b583a3e0",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8ac59f774be6e9a3",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "8e140ade9a4d64e8",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "e70718e45ecddb9f",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "b07ee5e0f9609f4a",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "e7843eb1564ce97a",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "e02bd5593646b842",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "4fbf83a9393f8fd1",
        "type": "ui_group",
        "name": "ESTACION1",
        "tab": "58217e0ae659a8c5",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "aefb9377b583a3e0",
        "type": "ui_group",
        "name": "ESTACION2",
        "tab": "0e3b238fd183ed6e",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "46d9f3d9ce5f567e",
        "type": "ui_group",
        "name": "ESTACION3",
        "tab": "be01610cb9e8cf0e",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "a3b5cb287a2b81be",
        "type": "ui_group",
        "name": "LEYENDA",
        "tab": "58217e0ae659a8c5",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "58217e0ae659a8c5",
        "type": "ui_tab",
        "name": "1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0e3b238fd183ed6e",
        "type": "ui_tab",
        "name": "2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "be01610cb9e8cf0e",
        "type": "ui_tab",
        "name": "3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]