flows.json
[
    {
        "id": "992579733deef552",
        "type": "tab",
        "label": "OPENDATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d04c88e95dacfb0",
        "type": "tab",
        "label": "TTN-WEATHER STATION",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e342a8f2d60208dc",
        "type": "tab",
        "label": "VISUALIZE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ae1632d769de4b2",
        "type": "subflow",
        "name": "EXTRACCION DATOS ESTACION",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ce1707cc9305f175"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 140,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 0
                    }
                ]
            },
            {
                "x": 540,
                "y": 180,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 1
                    }
                ]
            },
            {
                "x": 540,
                "y": 220,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 2
                    }
                ]
            },
            {
                "x": 540,
                "y": 260,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 3
                    }
                ]
            },
            {
                "x": 540,
                "y": 300,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 4
                    }
                ]
            },
            {
                "x": 540,
                "y": 340,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 5
                    }
                ]
            },
            {
                "x": 540,
                "y": 380,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 6
                    }
                ]
            },
            {
                "x": 540,
                "y": 420,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 7
                    }
                ]
            },
            {
                "x": 540,
                "y": 460,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 8
                    }
                ]
            },
            {
                "x": 540,
                "y": 500,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 9
                    }
                ]
            },
            {
                "x": 540,
                "y": 540,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 10
                    }
                ]
            },
            {
                "x": 540,
                "y": 580,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 11
                    }
                ]
            },
            {
                "x": 540,
                "y": 620,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 12
                    }
                ]
            },
            {
                "x": 540,
                "y": 660,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 13
                    }
                ]
            },
            {
                "x": 540,
                "y": 700,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 14
                    }
                ]
            },
            {
                "x": 540,
                "y": 740,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 15
                    }
                ]
            },
            {
                "x": 540,
                "y": 780,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 16
                    }
                ]
            },
            {
                "x": 540,
                "y": 820,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 17
                    }
                ]
            },
            {
                "x": 540,
                "y": 860,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 18
                    }
                ]
            },
            {
                "x": 540,
                "y": 900,
                "wires": [
                    {
                        "id": "ce1707cc9305f175",
                        "port": 19
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "51aab4ca8e0f1c0a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "21d6aae4.8f7156",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d7cfce97d9893a4a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "58217e0ae659a8c5",
        "type": "ui_tab",
        "name": "1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "46d9f3d9ce5f567e",
        "type": "ui_group",
        "name": "ESTACION1",
        "tab": "58217e0ae659a8c5",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aefb9377b583a3e0",
        "type": "ui_group",
        "name": "ESTACION2",
        "tab": "0e3b238fd183ed6e",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aee296a1c28e4fbb",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "aefb9377b583a3e0",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e3b238fd183ed6e",
        "type": "ui_tab",
        "name": "2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ac59f774be6e9a3",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "8e140ade9a4d64e8",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "e70718e45ecddb9f",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "b07ee5e0f9609f4a",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "e7843eb1564ce97a",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "e02bd5593646b842",
        "type": "ui_spacer",
        "z": "992579733deef552",
        "name": "spacer",
        "group": "46d9f3d9ce5f567e",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "ce1707cc9305f175",
        "type": "function",
        "z": "7ae1632d769de4b2",
        "name": "function 11",
        "func": "\nvar estacion = { payload: msg.payload.estacion};\nvar name = { payload: msg.payload.título };\nvar latitud = { payload: msg.payload.latitud };\nvar longitud = { payload: msg.payload.longitud };\nvar fecha = { payload: msg.payload.fecha };\nvar periodo = { payload: msg.payload.periodo };\nvar so2 = { payload: msg.payload.so2 };\nvar no = { payload: msg.payload.no };\nvar co = { payload: msg.payload.co };\nvar pm10 = { payload: msg.payload.pm10 };\nvar o3 = { payload: msg.payload.o3 };\nvar dd = { payload: msg.payload.dd };\nvar tmp = { payload: msg.payload.tmp };\nvar hr = { payload: msg.payload.hr };\nvar prb = { payload: msg.payload.prb };\nvar rs = { payload: msg.payload.rs };\nvar ll = { payload: msg.payload.ll };\nvar ben = { payload: msg.payload.ben };\nvar mxil = { payload: msg.payload.mxil };\nvar pm25 = { payload: msg.payload.pm25 };\n\nreturn [estacion, name, latitud, longitud, fecha, periodo, so2, no, co, pm10, o3, dd, tmp, hr, prb, rs, ll, ben, mxil, pm25];\n",
        "outputs": 20,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 560,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "27a0f42b5200e41e",
        "type": "inject",
        "z": "992579733deef552",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5340",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "0fa0f348a9b973c5",
                "afa68fa4a608be52",
                "c3ba4ab8e81e9b9f",
                "5937fd2a64dab858"
            ]
        ]
    },
    {
        "id": "0fa0f348a9b973c5",
        "type": "http request",
        "z": "992579733deef552",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://opendata.gijon.es/descargar.php?id=1&tipo=JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "7b3203f17e2d5401"
            ]
        ]
    },
    {
        "id": "8babfb0ae43cefb8",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "7b3203f17e2d5401",
        "type": "json",
        "z": "992579733deef552",
        "name": "VALORES",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "8babfb0ae43cefb8",
                "5cd88482c9984547"
            ]
        ]
    },
    {
        "id": "afa68fa4a608be52",
        "type": "http request",
        "z": "992579733deef552",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://opendata.gijon.es/descargar.php?id=5&tipo=JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "f83336db998b580c"
            ]
        ]
    },
    {
        "id": "f83336db998b580c",
        "type": "json",
        "z": "992579733deef552",
        "name": "PARAMETROS",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "b50efabe5a5593cf",
                "1b74c5660d6947f7"
            ]
        ]
    },
    {
        "id": "b50efabe5a5593cf",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "214fda4173f5966a",
        "type": "function",
        "z": "992579733deef552",
        "name": "function 1",
        "func": "var Item={payload:msg.payload.estaciones};\n\nreturn [Item];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "0b3647cf902445f5"
            ]
        ]
    },
    {
        "id": "c3ba4ab8e81e9b9f",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "5937fd2a64dab858",
        "type": "http request",
        "z": "992579733deef552",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://opendata.gijon.es/descargar.php?id=4&tipo=JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "0e90dc1e493db702"
            ]
        ]
    },
    {
        "id": "0e90dc1e493db702",
        "type": "json",
        "z": "992579733deef552",
        "name": "ESTACIONES",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "ccf3a52f6a1d9e95",
                "214fda4173f5966a"
            ]
        ]
    },
    {
        "id": "ccf3a52f6a1d9e95",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "2a1e570f014a3a29",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 0",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "5e9b35033091f710",
        "type": "function",
        "z": "992579733deef552",
        "name": "ESTACIONES",
        "func": "var ID0={payload:msg.payload.estacion[0]};\nvar ID1 = { payload: msg.payload.estacion[1] };\nvar ID2 = { payload: msg.payload.estacion[2] };\nvar ID3 = { payload: msg.payload.estacion[3] };\nvar ID4 = { payload: msg.payload.estacion[4] };\nvar ID5 = { payload: msg.payload.estacion[5] };\nvar ID6 = { payload: msg.payload.estacion[6] };\nvar ID7 = { payload: msg.payload.estacion[7] };\n\nreturn [ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 620,
        "wires": [
            [
                "2a1e570f014a3a29"
            ],
            [
                "4855287b7d96150e"
            ],
            [
                "180edaada3a88a6b"
            ],
            [
                "ea62f1b851cc304a"
            ],
            [
                "abf3e0728311e930"
            ],
            [
                "83a7228baa341cd0"
            ],
            [
                "df86cc9a8a736ee1"
            ],
            [
                "0cf4ab6bcccc069b"
            ]
        ]
    },
    {
        "id": "4855287b7d96150e",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "180edaada3a88a6b",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea62f1b851cc304a",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "abf3e0728311e930",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "83a7228baa341cd0",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 680,
        "wires": []
    },
    {
        "id": "df86cc9a8a736ee1",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Staton 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "0cf4ab6bcccc069b",
        "type": "debug",
        "z": "992579733deef552",
        "name": "Station 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "1b74c5660d6947f7",
        "type": "function",
        "z": "992579733deef552",
        "name": "function 3",
        "func": "var param={payload:msg.payload.parametroestaciones};\nreturn [param];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "30ea1db908e97074"
            ]
        ]
    },
    {
        "id": "23d32feae4bd7c39",
        "type": "function",
        "z": "992579733deef552",
        "name": "PARAMETROS",
        "func": "var param_0={payload:msg.payload.parametroestacion[0]};\nvar param_1 = { payload: msg.payload.parametroestacion[1] };\n//var param1 = {payload: msg.payload.parametroestacion};\nvar param_2 = { payload: msg.payload.parametroestacion[2] };\nvar param_3 = { payload: msg.payload.parametroestacion[3] };\nvar param_4 = { payload: msg.payload.parametroestacion[4] };\nvar param_5 = { payload: msg.payload.parametroestacion[5] };\nvar param_6 = { payload: msg.payload.parametroestacion[6] };\nvar param_7 = { payload: msg.payload.parametroestacion[7] };\nvar param_8 = { payload: msg.payload.parametroestacion[8] };\nvar param_9 = { payload: msg.payload.parametroestacion[9] };\nvar param_10 = { payload: msg.payload.parametroestacion[10] };\nvar param_11 = { payload: msg.payload.parametroestacion[11] };\nvar param_12 = { payload: msg.payload.parametroestacion[12] };\nvar param_13 = { payload: msg.payload.parametroestacion[13] };\nvar param_14 = { payload: msg.payload.parametroestacion[14] };\nvar param_15 = { payload: msg.payload.parametroestacion[15] };\nvar param_16 = { payload: msg.payload.parametroestacion[16] };\nvar param_17 = { payload: msg.payload.parametroestacion[17] };\nvar param_18 = { payload: msg.payload.parametroestacion[18] };\nvar param_19 = { payload: msg.payload.parametroestacion[19] };\nvar param_20 = { payload: msg.payload.parametroestacion[20] };\n\n\n\nreturn [param_0,param_1,param_10,param_11,param_12,param_13,param_14,param_15,param_16,param_17,param_18,param_19,param_20,param_2,param_3,param_4,param_5,param_6,param_7,param_8,param_9];",
        "outputs": 20,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1220,
        "wires": [
            [
                "fff673d97dab739c"
            ],
            [
                "739d8483137383ea"
            ],
            [
                "82a31fe049058cc2"
            ],
            [
                "faa226c1c9debe27"
            ],
            [
                "452f9df778effe6f"
            ],
            [
                "92712251b57ad4fe"
            ],
            [
                "717d06ad02d4d5a8"
            ],
            [
                "38e19405ece18ce7"
            ],
            [
                "ec44df7e87f344fc"
            ],
            [
                "fcc7c5d3700991c2"
            ],
            [
                "ed8f89631276154e"
            ],
            [
                "e4d4eb2d2aa6d0c0"
            ],
            [
                "e0c81c2456b91b2b"
            ],
            [
                "f2be1edcc8ab42ce"
            ],
            [
                "b8c065544f0b33c7"
            ],
            [
                "4a8ae9f5be701577"
            ],
            [
                "9f7788c6cd7b36e7"
            ],
            [
                "e7ef8e82efa94ba4"
            ],
            [
                "481e0673179e2096"
            ],
            [
                "75e9fde9ab51ded8"
            ]
        ]
    },
    {
        "id": "82a31fe049058cc2",
        "type": "debug",
        "z": "992579733deef552",
        "name": "NO2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "faa226c1c9debe27",
        "type": "debug",
        "z": "992579733deef552",
        "name": "O3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 940,
        "wires": []
    },
    {
        "id": "452f9df778effe6f",
        "type": "debug",
        "z": "992579733deef552",
        "name": "PM10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 980,
        "wires": []
    },
    {
        "id": "717d06ad02d4d5a8",
        "type": "debug",
        "z": "992579733deef552",
        "name": "PM25__1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1060,
        "wires": []
    },
    {
        "id": "38e19405ece18ce7",
        "type": "debug",
        "z": "992579733deef552",
        "name": "PRB",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ed8f89631276154e",
        "type": "debug",
        "z": "992579733deef552",
        "name": "TMP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e4d4eb2d2aa6d0c0",
        "type": "debug",
        "z": "992579733deef552",
        "name": "TOL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e0c81c2456b91b2b",
        "type": "debug",
        "z": "992579733deef552",
        "name": "VV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f2be1edcc8ab42ce",
        "type": "debug",
        "z": "992579733deef552",
        "name": "CO",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b8c065544f0b33c7",
        "type": "debug",
        "z": "992579733deef552",
        "name": "DD",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9f7788c6cd7b36e7",
        "type": "debug",
        "z": "992579733deef552",
        "name": "HR",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1460,
        "wires": []
    },
    {
        "id": "481e0673179e2096",
        "type": "debug",
        "z": "992579733deef552",
        "name": "METAPARAXILENO",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1540,
        "wires": []
    },
    {
        "id": "fff673d97dab739c",
        "type": "debug",
        "z": "992579733deef552",
        "name": "BEN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 820,
        "wires": []
    },
    {
        "id": "739d8483137383ea",
        "type": "debug",
        "z": "992579733deef552",
        "name": "C_BEN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 860,
        "wires": []
    },
    {
        "id": "ec44df7e87f344fc",
        "type": "debug",
        "z": "992579733deef552",
        "name": "RS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1140,
        "wires": []
    },
    {
        "id": "fcc7c5d3700991c2",
        "type": "debug",
        "z": "992579733deef552",
        "name": "SO2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1180,
        "wires": []
    },
    {
        "id": "92712251b57ad4fe",
        "type": "debug",
        "z": "992579733deef552",
        "name": "PM25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e7ef8e82efa94ba4",
        "type": "debug",
        "z": "992579733deef552",
        "name": "LL_precipitaciones",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1500,
        "wires": []
    },
    {
        "id": "4a8ae9f5be701577",
        "type": "debug",
        "z": "992579733deef552",
        "name": "DD",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1420,
        "wires": []
    },
    {
        "id": "75e9fde9ab51ded8",
        "type": "debug",
        "z": "992579733deef552",
        "name": "MXileno",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5cd88482c9984547",
        "type": "function",
        "z": "992579733deef552",
        "name": "function 5",
        "func": "var msg={payload:msg.payload.calidadairemediatemporales};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 80,
        "wires": [
            [
                "9d0a4182bd6d088d"
            ]
        ]
    },
    {
        "id": "9d0a4182bd6d088d",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d38e7cf9593d9437",
            "0d39cc8a75bab38d"
        ],
        "x": 995,
        "y": 80,
        "wires": []
    },
    {
        "id": "30ea1db908e97074",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a85b76903d56c458"
        ],
        "x": 935,
        "y": 320,
        "wires": []
    },
    {
        "id": "a85b76903d56c458",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 2",
        "links": [
            "30ea1db908e97074"
        ],
        "x": 155,
        "y": 1220,
        "wires": [
            [
                "23d32feae4bd7c39"
            ]
        ]
    },
    {
        "id": "0b3647cf902445f5",
        "type": "link out",
        "z": "992579733deef552",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "599a0dd3108dc083"
        ],
        "x": 935,
        "y": 380,
        "wires": []
    },
    {
        "id": "599a0dd3108dc083",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 3",
        "links": [
            "0b3647cf902445f5"
        ],
        "x": 145,
        "y": 620,
        "wires": [
            [
                "5e9b35033091f710"
            ]
        ]
    },
    {
        "id": "d38e7cf9593d9437",
        "type": "link in",
        "z": "992579733deef552",
        "name": "link in 1",
        "links": [
            "9d0a4182bd6d088d"
        ],
        "x": 835,
        "y": 800,
        "wires": [
            [
                "60bf85994a05eb49"
            ]
        ]
    },
    {
        "id": "f420b738957fd299",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Estacion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1880,
        "y": 60,
        "wires": []
    },
    {
        "id": "f2694cb16a0276ab",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "LAT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1870,
        "y": 100,
        "wires": []
    },
    {
        "id": "d95fc9c10eb340a4",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 3,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "LNG",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1870,
        "y": 140,
        "wires": []
    },
    {
        "id": "19d1c40120e630f1",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "46d9f3d9ce5f567e",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "FECHA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1880,
        "y": 180,
        "wires": []
    },
    {
        "id": "a785a5cb5481507f",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 5,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "SO2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 260,
        "wires": []
    },
    {
        "id": "aba6456f316cad83",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 6,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "NO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 300,
        "wires": []
    },
    {
        "id": "7e3fcf8121f0b2a3",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 7,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 380,
        "wires": []
    },
    {
        "id": "263b091d51fa4a6b",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 8,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "O3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 420,
        "wires": []
    },
    {
        "id": "a6c90854d015af52",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 9,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "DD",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ffbc94b1620e968",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 10,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "TMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 500,
        "wires": []
    },
    {
        "id": "aa03324c7293ad70",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 11,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "HR",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 540,
        "wires": []
    },
    {
        "id": "b92fe81c77ea6bf8",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 12,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PRB",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 580,
        "wires": []
    },
    {
        "id": "1d9f05bc928401db",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 13,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "RS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 620,
        "wires": []
    },
    {
        "id": "935be5427f315195",
        "type": "ui_chart",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 15,
        "width": 0,
        "height": 0,
        "label": "RS",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a611cc4bfd3d4bda",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 14,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "LL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 700,
        "wires": []
    },
    {
        "id": "e236719bb83c8c41",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 17,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "BEN",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 740,
        "wires": []
    },
    {
        "id": "55d90d791d958b1e",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 18,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "MXIL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 780,
        "wires": []
    },
    {
        "id": "07f8d37916a923e5",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "46d9f3d9ce5f567e",
        "order": 19,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PM25",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 820,
        "wires": []
    },
    {
        "id": "60bf85994a05eb49",
        "type": "split",
        "z": "992579733deef552",
        "name": "",
        "splt": "[92,110]",
        "spltType": "bin",
        "arraySplt": "60",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 960,
        "y": 800,
        "wires": [
            [
                "50416d3c4c1c9682"
            ]
        ]
    },
    {
        "id": "50416d3c4c1c9682",
        "type": "function",
        "z": "992579733deef552",
        "name": "function 10",
        "func": "var station = 168;\nvar msg_0 = { payload: msg.payload[0*station] };\nvar msg_1 = { payload: msg.payload[1 * station] };\nvar msg_2 = { payload: msg.payload[2 * station] };\nvar msg_3 = { payload: msg.payload[3 * station] };\nvar msg_4 = { payload: msg.payload[4 * station] };\nvar msg_5 = { payload: msg.payload[5 * station] };\nvar msg_6 = { payload: msg.payload[6 * station] };\nvar msg_7 = { payload: msg.payload[7 * station] };\n\nreturn [msg_0,msg_1,msg_2,msg_3,msg_4,msg_5,msg_6,msg_7];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 800,
        "wires": [
            [
                "53f8445a35992a68"
            ],
            [
                "3c49ae1eeadb5a0a"
            ],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "53f8445a35992a68",
        "type": "subflow:7ae1632d769de4b2",
        "z": "992579733deef552",
        "name": "",
        "x": 1480,
        "y": 420,
        "wires": [
            [],
            [
                "f420b738957fd299"
            ],
            [
                "f2694cb16a0276ab"
            ],
            [
                "d95fc9c10eb340a4"
            ],
            [
                "19d1c40120e630f1"
            ],
            [
                "b0dfc4ab9c35c32e"
            ],
            [
                "a785a5cb5481507f"
            ],
            [
                "aba6456f316cad83"
            ],
            [
                "62100ed446a61873"
            ],
            [
                "7e3fcf8121f0b2a3"
            ],
            [
                "263b091d51fa4a6b"
            ],
            [
                "a6c90854d015af52"
            ],
            [
                "7ffbc94b1620e968"
            ],
            [
                "aa03324c7293ad70"
            ],
            [
                "b92fe81c77ea6bf8"
            ],
            [
                "1d9f05bc928401db",
                "935be5427f315195"
            ],
            [
                "a611cc4bfd3d4bda"
            ],
            [
                "e236719bb83c8c41"
            ],
            [
                "55d90d791d958b1e"
            ],
            [
                "07f8d37916a923e5"
            ]
        ]
    },
    {
        "id": "b0dfc4ab9c35c32e",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 220,
        "wires": []
    },
    {
        "id": "62100ed446a61873",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 340,
        "wires": []
    },
    {
        "id": "26ae1ae04f114a64",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 1,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "Estacion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1880,
        "y": 860,
        "wires": []
    },
    {
        "id": "7cb62a598ccae4f0",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "LAT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1870,
        "y": 900,
        "wires": []
    },
    {
        "id": "de0c1ba52485eaa6",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "LNG",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1870,
        "y": 940,
        "wires": []
    },
    {
        "id": "db81770dcbd968be",
        "type": "ui_text",
        "z": "992579733deef552",
        "group": "aefb9377b583a3e0",
        "order": 4,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "FECHA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1880,
        "y": 980,
        "wires": []
    },
    {
        "id": "167b0cf1cacfd50e",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 5,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "SO2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d135e05bc8455d92",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 6,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "NO",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1100,
        "wires": []
    },
    {
        "id": "33fa9fdfd29ad7fb",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 7,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "PM10",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8bf3bfc0e9b5281a",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 8,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "O3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1220,
        "wires": []
    },
    {
        "id": "bee82afe5d7d885d",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 9,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "DD",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "634053982a479e90",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 10,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "TMP",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6b3207ca25577154",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 11,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "HR",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1340,
        "wires": []
    },
    {
        "id": "630a165de38bc6d3",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 12,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "PRB",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1380,
        "wires": []
    },
    {
        "id": "dfb91f8d002bd6fc",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 13,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "RS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1420,
        "wires": []
    },
    {
        "id": "345b590de7e1a334",
        "type": "ui_chart",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "RS",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "a68c615d996dd4d6",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 15,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "LL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1500,
        "wires": []
    },
    {
        "id": "72f7c49fee4a8533",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 16,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "BEN",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1540,
        "wires": []
    },
    {
        "id": "918a9448d43b6f0c",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 17,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "MXIL",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1580,
        "wires": []
    },
    {
        "id": "c2e785dc159ed3e7",
        "type": "ui_gauge",
        "z": "992579733deef552",
        "name": "",
        "group": "aefb9377b583a3e0",
        "order": 18,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "PM25",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1870,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3c49ae1eeadb5a0a",
        "type": "subflow:7ae1632d769de4b2",
        "z": "992579733deef552",
        "name": "",
        "x": 1480,
        "y": 1220,
        "wires": [
            [],
            [
                "26ae1ae04f114a64"
            ],
            [
                "7cb62a598ccae4f0"
            ],
            [
                "de0c1ba52485eaa6"
            ],
            [
                "db81770dcbd968be"
            ],
            [
                "37ceb069ec498491"
            ],
            [
                "167b0cf1cacfd50e"
            ],
            [
                "d135e05bc8455d92"
            ],
            [
                "f435aec89bd2656a"
            ],
            [
                "33fa9fdfd29ad7fb"
            ],
            [
                "8bf3bfc0e9b5281a"
            ],
            [
                "bee82afe5d7d885d"
            ],
            [
                "634053982a479e90"
            ],
            [
                "6b3207ca25577154"
            ],
            [
                "630a165de38bc6d3"
            ],
            [
                "dfb91f8d002bd6fc",
                "345b590de7e1a334"
            ],
            [
                "a68c615d996dd4d6"
            ],
            [
                "72f7c49fee4a8533"
            ],
            [
                "918a9448d43b6f0c"
            ],
            [
                "c2e785dc159ed3e7"
            ]
        ]
    },
    {
        "id": "37ceb069ec498491",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f435aec89bd2656a",
        "type": "debug",
        "z": "992579733deef552",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a999253479bed28f",
        "type": "mqtt in",
        "z": "2d04c88e95dacfb0",
        "name": "",
        "topic": "v3/0011111@ttn/devices/0000000000112233/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51aab4ca8e0f1c0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "51eeb52a8ac22a5f",
                "f8aab1c80005d21d"
            ]
        ]
    },
    {
        "id": "51eeb52a8ac22a5f",
        "type": "function",
        "z": "2d04c88e95dacfb0",
        "name": "function 2",
        "func": "var gas={payload:msg.payload.uplink_message.decoded_payload.gas};\nvar humidity={payload:msg.payload.uplink_message.decoded_payload.humidity};\nvar pressure={payload:msg.payload.uplink_message.decoded_payload.pressure};\nvar temperature={payload:msg.payload.uplink_message.decoded_payload.temperature};\nvar water={payload:msg.payload.uplink_message.decoded_payload.water};\nreturn [gas,humidity,pressure,temperature,water];\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "1c92ee7565361b20"
            ],
            [
                "fad6b28451e60a0d"
            ],
            [
                "8171842e931acb0b"
            ],
            [
                "4ba66f996a33cc36"
            ],
            [
                "bad473f4c8cc873b"
            ]
        ]
    },
    {
        "id": "1c92ee7565361b20",
        "type": "debug",
        "z": "2d04c88e95dacfb0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 40,
        "wires": []
    },
    {
        "id": "fad6b28451e60a0d",
        "type": "debug",
        "z": "2d04c88e95dacfb0",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "8171842e931acb0b",
        "type": "debug",
        "z": "2d04c88e95dacfb0",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "4ba66f996a33cc36",
        "type": "debug",
        "z": "2d04c88e95dacfb0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "bad473f4c8cc873b",
        "type": "debug",
        "z": "2d04c88e95dacfb0",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "f8aab1c80005d21d",
        "type": "debug",
        "z": "2d04c88e95dacfb0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    }
]